body{
  background-color: #FFF8F3;
}
h1{
  color: #1C6DD0;
}
h2{
  color: #1C6DD0;
}
h3{
  color: #1C6DD0;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color:#A3E4DB;
  height: 0;
  width: 60%;
  border-width: 7px
}
a {
color: #D885A3;
}

ul {
  color: #1C6DD0;
}

li {
  color: #1C6DD0;
}

p {
  color: #1C6DD0;
}
